input-sequence-file						:seqtest.txt
alignment-type(global/local)			:global
use-substitution-matrix(yes/no)			:yes
substitution-matrix						:PAM250
match									:5
mismatch								:-3
gap										:-4
use-affine-gap-penalty(yes/no)			:yes
open									:-12
extend									:-4

#Comments (program ignores all lines after this)
Available substitution matrices: 
BLOSUM100,BLOSUM30,BLOSUM35,BLOSUM40,BLOSUM45,BLOSUM50,BLOSUM55,BLOSUM60,BLOSUM62,
BLOSUM65,BLOSUM70,BLOSUM75,BLOSUM80,BLOSUM85,BLOSUM90,BLOSUMN,DAYHOFF,EDNAFULL,
GONNET,IDENTITY,MATCH,mats,PAM10,PAM100,PAM110,PAM120,PAM130,PAM140,PAM150,PAM160,
PAM170,PAM180,PAM190,PAM20,PAM200,PAM210,PAM220,PAM230,PAM240,PAM250,PAM260,PAM270,
PAM280,PAM290,PAM30,PAM300,PAM310,PAM320,PAM330,PAM340,PAM350,PAM360,PAM370,PAM380,
PAM390,PAM40,PAM400,PAM410,PAM420,PAM430,PAM440,PAM450,PAM460,PAM470,PAM480,PAM490,
PAM50,PAM500,PAM60,PAM70,PAM80,PAM90

# Do not remove any configuration lines, before the comment section.
# Change the values on the right of ":" for each setting.
